body {
  padding: 5px;
  margin: 0;
  background-color: #fff;
  width: 450px;
  overflow: hidden;
}
table,
body,
input {
  font-family: "Helvetica Neue", "Helvetica CY", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857;
  color: #444;
  background-color: #fff;
}

table {
  width: 100%;
}

h1 {
  font-size: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  padding: 10px;
  background-color: #444;
  color: #fff;
  font-size: 120%;
  -moz-appearance: textfield;
  width: 50px;
  border: solid 1px #fff;
  text-align: center;
  box-shadow: 0 0 2px #444;
}
tr[mode=info] {
  font-size: 80%;
}

.fancy {
  position: relative;
  line-height: 0.5;
  text-align: center;
  width: 100%;
}
.fancy b {
  color: #444;
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 0 5px;
}
.fancy::before {
  border-top: dotted 1px #444;
  content: ' ';
  width: 100%;
  display: block;
  top: 3px;
  position: absolute;
  z-index: 1;
}

td[data-type=current],
td[data-type=cache],
td[data-type=scoll-to-end],
td[data-type=form],
td[data-type=enable] {
  cursor: pointer;
  width: 75px;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}
td[data-type=current]::before,
td[data-type=cache]::before,
td[data-type=form]::before,
td[data-type=scoll-to-end]::before,
td[data-type=enable]::before {
  padding-right: 5px;
}

body[data-enabled=true] [data-type='current'],
body[data-enabled=true] [data-type='cache'],
body[data-enabled=true] [data-type='scoll-to-end'],
body[data-enabled=true] [data-type='form'],
body[data-enabled=true] [data-type='hh'],
body[data-enabled=true] [data-type='mm'],
body[data-enabled=true] [data-type='ss'],
body[data-enabled=true] [data-type='vr'],
body[data-enabled=true] [data-type='dd'] {
  opacity: 0.5;
  pointer-events: none;
}

#jobs {
  max-height: 80px;
  overflow: auto;
  margin-bottom: 10px;
}
#jobs ol {
  padding: 0 5px;
  margin: 0;
  list-style: none;
}
#jobs li {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#jobs li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
