@supports (-moz-appearance: none) {
  input[type=button] {
    height: 24px;
    color: rgb(68, 68, 68);
    background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
    text-shadow: rgb(240, 240, 240) 0 1px 0;
    border: solid 1px rgba(0, 0, 0, 0.25);
  }
}
body {
  overflow: hidden;
  margin: 0 5px 10px 5px;
  width: 500px;
}
body.ffo {
  width: unset;
}

table,
body,
input {
  font-family: "Helvetica Neue", "Helvetica CY", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857;
  color: #444;
  background-color: #fff;
}

table {
  width: calc(100%);
  border-collapse: collapse;
}
th,
td {
  padding-top: 5px;
}

h1 {
  font-size: 100%;
}

textarea,
input[type=number] {
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: solid 1px #fff;
  box-shadow: 0 0 2px #444;
}
input[type=number] {
  -moz-appearance: textfield;
  width: 50px;
  text-align: center;
  font-size: 120%;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
tr[mode=info] {
  font-size: 80%;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}
textarea::placeholder {
  color: #c1c1c1;
}

.fancy {
  position: relative;
  line-height: 0.5;
  text-align: center;
  width: 100%;
}
.fancy b {
  color: #444;
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 0 5px;
}
.fancy::before {
  border-top: dotted 1px #444;
  content: ' ';
  width: 100%;
  display: block;
  top: 3px;
  position: absolute;
  z-index: 1;
}

td[data-type=current],
td[data-type=cache],
td[data-type=scoll-to-end],
td[data-type=form],
td[data-type=enable] {
  cursor: pointer;
  width: 75px;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}
td[data-type=current]::before,
td[data-type=cache]::before,
td[data-type=form]::before,
td[data-type=scoll-to-end]::before,
td[data-type=enable]::before {
  padding-right: 5px;
}

input[disabled],
body[data-enabled=true] textarea,
body[data-enabled=true] [data-type='current'],
body[data-enabled=true] [data-type='cache'],
body[data-enabled=true] [data-type='scoll-to-end'],
body[data-enabled=true] [data-type='form'],
body[data-enabled=true] [data-type='hh'],
body[data-enabled=true] [data-type='mm'],
body[data-enabled=true] [data-type='ss'],
body[data-enabled=true] [data-type='vr'],
body[data-enabled=true] [data-type='dd'],
body[data-enabled=true] .presets span {
  opacity: 0.5;
  pointer-events: none;
}
textarea[disabled] {
  display: none;
}
a,
a:visited {
  text-decoration: none;
  user-select: none;
  color: #07c;
}

body[data-jobs="0"] #jobs {
  display: none;
}
#jobs > div {
  max-height: 80px;
  overflow: auto;
  margin-bottom: 10px;
}
#jobs ol {
  padding: 0 5px;
  margin: 0;
  list-style: none;
}
#jobs li {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#jobs li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#permit {
  background-color: #e6e6e6;
  border: none;
  cursor: pointer;
}
#permit:disabled {
  visibility: hidden;
}

.presets {
  display: grid;
  grid-template-columns: min-content repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}
.presets span {
  background-color: #e6e6e6;
  padding: 2px 5px;
  cursor: pointer;
}

body.ffo .presets {
  grid-template-columns: min-content repeat(4, 1fr);
}
body.ffo .presets span[data-mm="30"],
body.ffo .presets span[data-hh="5"] {
  display: none;
}

.attn {
  font-size: 140%;
  line-height: 42px;
}
.attn td {
  border-bottom: solid 1px #e6e6e6;
}
